{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ZER0|Runtime</title>
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://code.iconify.design/3/3.0.0/iconify.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/build.css' %}" type="text/css">
</head>

<body class="bg-zinc-100 dark:bg-zinc-900 transition-colors duration-700 ">
  <div id="particles-js" class="z-10"></div>

  <div class="relative flex flex-col justify-between items-center min-h-screen overflow-hidden z-20">
    {% include 'navbar.html' %}

    <div class="flex flex-grow flex-col items-center justify-center py-8 pt-28">
      <h1 class="text-3xl sm:text-5xl font-bold dark:text-white mb-8">Projects</h1>
      <a href="#" 
        class="bg-white dark:bg-zinc-800 border-2 border-green-600 rounded-lg shadow-md overflow-hidden flex flex-col md:flex-row w-[900px] h-[250px] mx-auto transform transition-all duration-300 hover:scale-105 mb-8 relative"
        target="_blank" rel="noopener noreferrer"><!---->
        <div class="p-8 flex-shrink-0 flex flex-col justify-between w-full md:w-7/12">
          <div class="flex items-center mb-4"><svg class="h-16 w-16 mr-4 text-blue-500" fill="none"
              viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"></path>
            </svg><span class="text-3xl font-bold dark:text-white">CodeFlow</span></div>
          <p class="text-lg text-gray-700 dark:text-gray-300">Codeflow is an educational app designed
            for members of a school robotics club and students interested in programming and computer science.
          </p>
        </div>
        <div class="relative md:w-5/12 h-full"><img
            src="{% static 'img/codeflow.png' %}" alt="Project Image"
            class="object-cover w-full h-full transition duration-300 ease-in-out">
          <div
            class="absolute inset-0 bg-gradient-to-r from-white dark:from-zinc-800 to-transparent"></div>
        </div>
      </a>

      <a href="https://uvaeroservices.com" 
      class="bg-white dark:bg-zinc-800 border-2 border-green-600 rounded-lg shadow-md overflow-hidden flex flex-col md:flex-row w-[900px] h-[250px] mx-auto transform transition-all duration-300 hover:scale-105 mb-8 relative"
      target="_blank" rel="noopener noreferrer"><!---->
      <div class="p-8 flex-shrink-0 flex flex-col justify-between w-full md:w-7/12">
        <div class="flex items-center mb-4"><img src="{% static 'img/uvlogo.png' %}" class="w-16 h-16 mr-2" alt=""><span class="text-3xl font-bold dark:text-white">UVAero Services</span></div>
        <p class="text-lg text-gray-700 dark:text-gray-300">A Landing page for a renowned flight operation management & Air charter broker company providing aviation support and FBO services to a diverse clientele
        </p>
      </div>
      <div class="relative md:w-5/12 h-full"><img
          src="{% static 'img/uvaero.png' %}" alt="Project Image"
          class="object-cover w-full h-full transition duration-300 ease-in-out">
        <div
          class="absolute inset-0 bg-gradient-to-r from-white dark:from-zinc-800 to-transparent"></div>
      </div>
    </a>

    </div>

    <footer class="text-gray-400 text-center py-4 mt-2 justify-bottom">
      <div class="flex items-center justify-center mb-4">
        <div class="flex items-center">
          <div>
            <p class="inline">Nothing is currently playing.</p>
          </div>
        </div>
      </div>
      <div> Copyright © 2024 ZER0|Runtime. All Rights Reserved. </div>
    </footer>
  </div>

  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>

  <script src="{% static 'js/main.js' %}"></script>


</body>

</html>